{% extends "pdf/base_pdf.html" %}
{% block content %}
<div class="doc-title">SITUACION nr. {{ doc.situacion_number }}</div>

<table class="meta-table">
    <tr>
        <td class="label">Klienti:</td>
        <td>{{ client.name }}{% if client.business_name %} ({{ client.business_name }}){% endif %}</td>
        <td class="label">Data:</td>
        <td>{{ doc.date|date:"d/m/Y" }}</td>
    </tr>
    <tr>
        <td class="label">Projekti:</td>
        <td>{{ project.name }}</td>
        <td class="label">Qyteti:</td>
        <td>{{ doc.city|default:project.city }}</td>
    </tr>
    <tr>
        <td class="label">Statusi:</td>
        <td>{{ doc.get_payment_status_display }}</td>
        <td class="label">Lloji:</td>
        <td>(Material + Hak Pune)</td>
    </tr>
</table>

<table class="items">
    <thead>
        <tr>
            <th style="width:30px;">#</th>
            <th>Objekti / Sherbimi</th>
            <th>Pershkrimi</th>
            <th class="text-center">Sasia</th>
            <th class="text-center">Njesia</th>
            <th class="text-right">Cmimi (ALL)</th>
            <th class="text-right">Total (ALL)</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td class="text-center">{{ forloop.counter }}</td>
            <td>{{ item.service_name }}</td>
            <td>{{ item.description }}</td>
            <td class="text-center">{{ item.quantity|floatformat:2 }}</td>
            <td class="text-center">{{ item.unit }}</td>
            <td class="text-right">{{ item.price|floatformat:0 }}</td>
            <td class="text-right">{{ item.total|floatformat:0 }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="7" class="text-center">Nuk ka artikuj.</td></tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6" class="text-right">TOTAL:</td>
            <td class="text-right grand-total">{{ doc.grand_total|floatformat:0 }} ALL</td>
        </tr>
    </tfoot>
</table>
{% endblock %}
